/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *::after, *::before {
    box-sizing: border-box;
}

.header {
    background-color: #2f3041;
    color: #fff;
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 36px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

.nav a:hover {
    background-color: blue;
    color: #fff;
}

.header h1 {
    font-size: 36px;
    font-weight: 100;

}
.prehero {

    background-image:linear-gradient(0deg, rgba(0, 255, 0, 0.4), rgba(255, 0, 0, 0.6)) ,url("./images.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preherodiv h3 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin-bottom: 48px;
}

.preherodiv p {
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 32px;
}

.left, .right {
    width: 45%;
    border: 1px solid #c1c1c1;
    padding: 24px;
}

#details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}
.card {
    max-width: 30%;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 4px 10px rgb(129, 127, 127);
}

.card img {
    width: 100%;
}

.content {
    padding: 16px;
    text-align: center;
}

.content h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.content p {
    font-size: 18px;
    line-height: 24px;
}

.photo img {
    max-width: 30%;
    margin: 15px;


}

.gallery h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.addres h2, .video h2 {
    text-align: center;
    font-weight: 500;
    margin: 20px;
    font-size: 40px;

}
.map {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.image {
    max-width: 140px;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #2f3041;
    padding-bottom: 24px;
}

.wrapper {
    padding: 24px;
    display: flex;

}

.link {
    margin: 0 48px;
    
}

.link a {
    text-decoration: none;
    font-size: 18px ;
    color: #fff;
    margin-bottom: 12px;
    display: block;

}

.footer h3 {
    color: #fff;
    font-size: 12px;
}

iframe {
    max-width: 1000px;
    height: 400px;
    width: 100%;
}


/* *********** contact page css ************** */

.container {
    margin: 48px;
    max-width: 90%;
}

.formwrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 24px;
}

.formwrapper input {
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 8px;
    outline: none;
}

.formwrapper h2 {
    font-size: 28px;
    margin-bottom: 28px;
    text-align: center;
    font-weight: 800;
    color: #777;
}

.submitbtn {
    padding: 8px 48px;
    background-color: #2f3041;
    color: #fff;
    border-radius: 8px;
}


/*  **********************about****************************** */
table {
    border: 1px solid #c1c1c1;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

th {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

td {
    padding: 20px;
    text-align: center;
}

tr{
    border: 1px solid #c1c1c1;

}

.about-hero h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
    
}

/* ***********************media********************** */

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 16px;
        align-items: unset;

    }

    .header h1 {
        text-align: center;
        margin-bottom: 24px;
    }

    .prehero {
        height: auto;
    }

    .preherodiv h3 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
        padding-top: 24px;
}

.preherodiv p {
    font-size: 24px;
    padding-bottom: 24px;
}

.hero {
    flex-direction: column;
}

.left, .right {
    width: 100%;
    margin-bottom: 24px;
    padding: 12px;
    font-size: 12px;
}

.card {
    max-width: 100%;
    margin-bottom: 24px;
}

#details {
    padding: 0 24px;
}

.gallery h2 {
    font-size: 32px;
    margin: 24px;
}

.photo img {
    max-width: 100%;
    margin: 0;
    
}

.photo {
    padding: 0 24px;
}

.addres h2, .video h2 {
    font-size: 24px;
}

.wrapper {
    flex-direction: column;
}

.download {
    display: none;
}

/* ****************************about************************* */

.container {
    margin: 24px;
}

th,td {
    font-size: 14px;
    padding: 16px;
}



}